body{
background-image:url("http://upload.wikimedia.org/wikipedia/commons/thumb/7/79/Operation_Upshot-Knothole_-_Badger_001.jpg/250px-Operation_Upshot-Knothole_-_Badger_001.jpg");
background-size:100% 100%;
background-repeat:no-repeat;
color:#696969;
}

a:visited{color:#1E90FF;}