body,
html{
    margin:0;
    padding:0;
    color:000000;
    background-color:#0000CD;
}

#wrap{
    width:750px;
    margin:0 auto;
    background-color:#0000cd;
}

#header{
    backgroun-color:#00BFFF;
}

#nav{
    background-color:#00BFFF;

}

#main{
    background-color:#1E90FF;
    float:left;
    width:500px;
    
}

#sidebar{
    background-color:#20B2AA;
    float:right;
    width:250px;
}

#footer{
    background-color:000000;
}